NEXT_PUBLIC_SUPABASE_URL=https://nvaletooxkyqoazxewma.supabase.co
SUPABASE_SERVICE_ROLE_KEY=postgresql://postgres:C@@lbuddy02111994@db.nvaletooxkyqoazxewma.supabase.co:5432/postgres
PUBLISH_API_KEY=sb_publishable_f1TG5gSYdLgerBBShX5tHw_x79EvFaR
